<header>
    <div class="container">
        <nav>
            <ul>
                <li>
                    <a href="/" id="home"><span class="bi bi-house"></span> Home</a>
                </li>
                <li>
                    <a href="/create" id="create"><span class="bi bi-person-plus"></span>Create</a>
                </li>
                <li>
                    <a href="/contacts" id="contacts"><span class="bi bi-book"></span>Contacts</a>
                </li>
            </ul>
        </nav>
    </div>
</header>