.contacts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.title p {
    color: white;
    font-size: 20px;
}

.title b {
    color:#28ab5f;
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contacts > div {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    min-width: 200px;
    transition: transform 0.5s;
}

.contacts > div:hover {
    transform: scale(1.05);
}

.link {
    margin-top: 50px;
}

.link a {
    color: black;
    text-decoration: none;
    border-radius: 3em;
    font-size: 1.5em;
    border: none;
    padding: 10px 15px 10px 15px;
    background-color:#28ab5f;
    transition: background-color 0.3s, color 0.3s, border-bottom 1s, border-radius 0.4s;
}

.link a:hover {
    border-radius: 1px;
    border-bottom: 1px solid white;
    background-color: rgb(40, 171, 95, 0);
    color:#ffffff
}

button {
    border: none;
    background-color: black;
}

span {
    pointer-events: none;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.edit {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    color: #28ab5f;
    transition: color 0.2s, background-color 0.5s;
}

.edit:hover {
    color: #000000;
    background-color: #28ab5f;
}

.delete {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    transition: color 0.2s, background-color 0.5s;
    color:#fa3636;
}

.delete:hover {
    color:#000000;
    background-color: #fa3636;
}