<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <div class="container">
        <% data.forEach((i) => { %>
            <div class="person">
                <div class="person-child">
                    <h1><%= i.nombre %></h1>
                </div>
                <!---->
                <div class="person-child">
                    <h3><%= i.apellido%></h3>
                </div>
                <!---->
                <div class="person-child">
                    <p><%= i.direccion%></p>
                </div>
            </div>
        <% });%>
    </div>
</body>
</html>