<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Submited</title>
</head>
<body>
    <h1>Data Submited!</h1>
    <h2>You'll be redirected in <span id="timer">3</span> seconds...</h2>
    <script src="/js/submited.js"></script>
</body>
</html>