@import 'css-modules/header.css';
@import 'css-modules/presentation.css';
@import 'css-modules/create.css';
@import 'css-modules/contacts.css';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.active{
    color:#28ab5f;
}

body {
    background-color: black;
}

/*-----------------Home page-----------------*/

    /*Header*/
    
    
    /*Presentation*/

/*-----------------Create Page-----------------*/